[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Bram Jochems
	email = bram@riskatwork.nl
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE -c 'wincmd l' -c 'wincmd ='
